# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userprefs

# VS Code
.vscode/

# .NET
project.assets.json
*.nuget.props
*.nuget.targets
*.dgspec.json
*.lock.json

# Environment files
.env
*.env
Project/.env

.fake
Project/Logs/
**/wwwroot/