@model ListModel<Dish>

@{
    ViewData["Title"] = "Catalog";
    var categories = ViewData["Categories"] as List<Category>;
    var currentCategory = ViewData["CurrentCategory"] as string;
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="row">
    <div class="col-2">
        <div class="dropdown mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @(categories?.FirstOrDefault(c => c.NormalizedName == currentCategory)?.Name ?? "Все")
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="">Все</a>
                </li>
                @if (categories != null)
                {
                    foreach (var item in categories)
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="@item.NormalizedName">
                                @item.Name
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-10">
        <div id="product-list">
            @await Html.PartialAsync("_ListPartial", Model)
        </div>
    </div>
</div>
